.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #cccccc7a;
  background-color: #171717;
}

.btn {
  font-family: "montreal", sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  background-color: #f1f1f1;
  color: #000;
}

.header p {
  font-size: 1rem;
  color: #f1f1f1;
  font-family: "montreal", sans-serif;
}
